<p id="notice"><%= notice %></p>

<h1>Show Developer</h1>

<p>
  <strong>Developer Name:</strong>
  <%= @developer.developer_name %><br>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @developer.email_address %><br>
</p>

<p>
  <strong>Password:</strong>
  <%= @developer.password_digest %><br>
</p>
